Babel==2.14.0
Cython==3.0.10
DataProperty==1.0.1
GitPython==3.1.43
Jinja2==3.1.2
Markdown==3.6
MarkupSafe==2.1.3
PyJWT==2.8.0
PyYAML==6.0.1
Pygments==2.17.2
Send2Trash==1.8.2
Werkzeug==3.0.2
absl-py==2.1.0
accelerate==0.33.0
aioboto3==12.3.0
aiobotocore==2.11.2
aiohttp==3.8.6
aioitertools==0.11.0
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.3.0
apex==0.1
appdirs==1.4.4
arctic-embed==0.1.0
arctic-embed==0.1.0
arctic_training==0.0.6.dev0
argcomplete==3.6.2
argon2-cffi-bindings==21.2.0
argon2-cffi==23.1.0
arrow==1.3.0
asciitree==0.3.3
asn1crypto==1.5.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.1
awscli==1.32.34
beautifulsoup4==4.12.3
best-download==0.1.2
bleach==6.1.0
blis==0.7.11
boto3==1.34.34
botocore==1.34.34
cachetools==5.3.3
catalogue==2.0.10
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==2.2.1
cmake==3.29.3
colorama==0.4.4
comm==0.2.2
confection==0.1.5
contourpy==1.2.1
cramjam==2.8.3
cryptography==42.0.5
cuda-python==12.5.0
cudf==24.4.0
cugraph-dgl==24.4.0
cugraph-equivariant==24.4.0
cugraph-pyg==24.4.0
cugraph-service-client==24.4.0
cugraph-service-server==24.4.0
cugraph==24.4.0
cuml==24.4.0
cupy-cuda12x==13.0.0
cycler==0.12.1
cymem==2.0.8
dask-cuda==24.4.0
dask-cudf==24.4.0
dask-expr==0.4.0
dask==2024.1.1
datasets==2.21.0
debugpy==1.8.1
decorator==5.1.1
deepspeed==0.15.1
deepspeed==0.17.1
defusedxml==0.7.1
devtools==0.12.2
dill==0.3.7
distributed==2024.1.1
distro==1.9.0
dm-tree==0.1.8
dnspython==2.6.1
docker-pycreds==0.4.0
docutils==0.16
einops==0.8.0
entrypoints==0.4
evaluate==0.4.3
exceptiongroup==1.2.0
execnet==2.1.1
executing==2.0.1
expecttest==0.1.3
fastcore==1.5.29
fasteners==0.19
fastjsonschema==2.19.1
fastparquet==2023.10.1
fastrlock==0.8.2
filelock==3.13.1
flash-attn==2.6.3
fonttools==4.51.0
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2024.2.0
gast==0.5.4
ghapi==1.0.5
gitdb==4.0.11
google-auth-oauthlib==0.4.6
google-auth==2.29.0
grpcio==1.62.1
h11==0.14.0
hf-xet==1.1.5
hf_transfer==0.1.8
hjson==3.1.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.26.2
huggingface-hub==0.33.1
hypothesis==5.35.1
idna==3.4
igraph==0.11.5
importlib_metadata==7.1.0
iniconfig==2.0.0
intel-openmp==2021.4.0
ipykernel==6.29.4
ipython-genutils==0.2.0
ipython==8.23.0
ipywidgets==8.1.2
isoduration==20.11.0
jedi==0.19.1
jiter==0.10.0
jmespath==1.0.1
joblib==1.4.2
json5==0.9.24
jsonlines==4.0.0
jsonpointer==2.4
jsonschema-specifications==2023.12.1
jsonschema==4.21.1
jupyter-events==0.10.0
jupyter-lsp==2.2.4
jupyter-tensorboard==0.2.0
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
jupyterlab_widgets==3.0.10
jupytext==1.16.2
kiwisolver==1.4.5
kvikio==24.4.0
langcodes==3.4.0
language_data==1.2.0
lazy_loader==0.4
librosa==0.10.1
liger-kernel==0.2.1
lightning-thunder==0.2.0.dev0
lightning-utilities==0.11.2
lintrunner==0.12.5
llvmlite==0.42.0
lm_eval==0.4.5
locket==1.0.0
loguru==0.7.3
looseversion==1.3.0
lxml==5.3.0
marisa-trie==1.1.1
markdown-it-py==3.0.0
matplotlib-inline==0.1.6
matplotlib==3.8.4
mbstrdecoder==1.1.3
mdit-py-plugins==0.4.1
mdurl==0.1.2
mistune==3.0.2
mkl-devel==2021.1.1
mkl-include==2021.1.1
mkl==2021.1.1
mock==5.1.0
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.4
multiprocess==0.70.15
mup==1.0.0
murmurhash==1.0.10
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
ninja==1.11.1.1
nltk==3.9.1
notebook==6.4.10
notebook_shim==0.2.4
numba==0.59.1
numcodecs==0.11.0
numexpr==2.10.1
numpy==1.26.2
nvfuser==0.2.3a0+f73ff1b
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cudnn-frontend==1.3.0
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-dali-cuda120==1.38.0
nvidia-modelopt==0.11.2
nvidia-nccl-cu12==2.20.5
nvidia-nvimgcodec-cu12==0.2.0.7
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
nvidia-pyindex==1.0.9
nvtx==0.2.5
nx-cugraph==24.4.0
oauthlib==3.2.2
onnx==1.16.0
openai==1.92.2
opencv==4.7.0
opt-einsum==3.3.0
optree==0.11.0
overrides==7.7.0
packaging==23.2
pandas==2.1.3
pandocfilters==1.5.1
parso==0.8.3
partd==1.4.2
pathvalidate==3.2.1
peft==0.12.0
pexpect==4.9.0
pillow==10.3.0
pip==24.0
platformdirs==3.11.0
pluggy==1.5.0
ply==3.11
polygraphy==0.49.11
pooch==1.8.1
portalocker==2.10.1
preshed==3.0.9
prettytable==3.10.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==3.20.3
pssh==2.3.4
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py==1.11.0
pyOpenSSL==24.1.0
pyarrow==18.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybind11==2.12.0
pybind11_global==2.12.0
pycocotools==2.0+nv0.8.0
pycparser==2.22
pydantic==2.11.7
pydantic==2.9.1
pydantic_core==2.23.3
pydantic_core==2.33.2
pylibcugraph==24.4.0
pylibcugraphops==24.4.0
pylibraft==24.4.0
pylibwholegraph==24.4.0
pynvjitlink==0.2.3
pynvml==11.4.1
pyparsing==3.1.2
pytablewriter==1.2.0
pytest-flakefinder==1.1.0
pytest-rerunfailures==14.0
pytest-shard==0.1.2
pytest-xdist==3.6.1
pytest==8.1.1
python-dateutil==2.8.2
python-hostlist==1.23.0
python-json-logger==2.0.7
pytorch-quantization==2.1.2
pytorch-triton==3.0.0+989adb9a2
pytz==2023.3.post1
pyzmq==25.1.2
raft-dask==24.4.0
rapids-dask-dependency==24.4.0a0
referencing==0.34.0
regex==2023.12.25
remote-pdb==2.1.0
requests-oauthlib==2.0.0
requests==2.32.3
retry==0.9.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rmm==24.4.0
rouge-score==0.1.2
rpds-py==0.18.0
rsa==4.7.2
s3fs==2024.2.0
s3transfer==0.10.1
sacrebleu==2.4.3
safetensors==0.4.2
safetensors==0.5.3
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
sentencepiece==0.2.0
sentry-sdk==1.44.1
setproctitle==1.3.3
setuptools==69.2.0
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.1
snowflake-connector-python==3.7.1
snowflake-snowpark-python==1.14.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy==3.7.4
sphinx_glpi_theme==0.6
sqlitedict==2.1.0
srsly==2.4.8
stack-data==0.6.3
supervisor==4.2.1
sympy==1.12
tabledata==1.3.3
tabulate==0.9.0
tbb==2021.12.0
tblib==3.0.0
tcolorpy==0.1.6
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.9.0
tensorrt==10.1.0
terminado==0.18.1
texttable==1.7.0
thinc==8.2.3
threadpoolctl==3.5.0
thriftpy2==0.5.0
tiktoken==0.6.0
tinycss2==1.2.1
tokenizers==0.19.1
tokenizers==0.21.2
tomli==2.0.1
tomlkit==0.12.4
toolz==0.12.1
torch-tensorrt==2.4.0a0
torch==2.4.0
tornado==6.4
tqdm-multiprocess==0.0.11
tqdm==4.66.6
traitlets==5.14.2
transformers==4.44.2
transformers==4.53.0
treelite==4.1.2
triton==3.0.0
typepy==1.3.2
typer==0.9.4
types-dataclasses==0.6.6
types-python-dateutil==2.9.0.20240316
typing-inspection==0.4.1
typing_extensions==4.14.0
typing_extensions==4.8.0
tzdata==2023.3
ucx-py==0.37.0
uri-template==1.3.0
urllib3==1.26.18
wandb==0.16.6
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.3.4
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
wheel==0.43.0
widgetsnbextension==4.0.10
word2number==1.1
wrapt==1.16.0
xdoctest==1.0.2
xformers==0.0.27.post2
xgboost==2.0.3
xmltodict==0.14.2
xxhash==3.4.1
yarl==1.9.2
yq==3.4.3
zarr==2.18.2
zict==3.0.0
zipp==3.19.0
zstandard==0.23.0
zstd==1.5.0.2