name: Formatting

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install
        run: python scripts/install_deps.py formatting
      - name: Environment print
        run: pip list
      - name: Formatting checks
        run: |
          pre-commit run --all-files
          git diff
