name: Unit Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install
        run: |
          python -m pip install torch --index-url https://download.pytorch.org/whl/cpu
          pip install ".[testing]"
      - name: Environment print
        run: pip list
      - name: Unit Tests
        run: |
          cd tests
          python -m pytest . -m "not gpu" -s -v -k "wandb"
